<%= render 'links' %>
<h1>Newest Listings</h1>
<h2>Last Update: <%= time_ago_in_words(@updated) %> ago</h2>
<h2>Most Recent Listing: <%= time_ago_in_words(@newestpub) %> ago</h2>
<%= render :partial => 'listings', :locals => { :listings => @newest } %>